body{
    background: url(img/spaco.png);
    background-size: cover;

}

.cont{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    color: aliceblue;
    font-weight: bolder;
    text-shadow: 4px 5px 4px black;
    text-align: center;
}

div.foto1{
    width: 400px;
    height: 400px;
    background: url(img/IMG_2772.jpg);
    background-size: cover;

}

div.foto2{
    width: 400px;
    height: 340px;
    background: url(img/IMG_2773.jpeg);
    background-size: contain;

}
